@font-face {
  font-family: 'TeXGyreHeros';
  src: url(../font/TeXGyreHeros-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TeXGyreHeros';
  src: url(../font/TeXGyreHeros-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  display: block;
}

html {
  font-family: 'TeXGyreHeros';
}

#runners {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  padding-left: 11px;
}

.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: scroll-left 0s linear infinite;
  animation: scroll-left 18s linear infinite;
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.layout {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.layout-horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.layout-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.layout-vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.layout-flex {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.layout-flex-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

.layout-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}


.container[data-v-4afe35d3] {
  background-color: rgb(0, 0, 0, 0.8);
  height: 58px;
  width: 400px;
  text-align: center;
}
.text[data-v-4afe35d3] {
  position: relative;
  top: 1px;
  font-size: 36px;
  color: white;
  margin-left: 0px;
  width: 400px;
}
#host-icon[data-v-4afe35d3] {
  float: left;
}


#nickname1 {
  left: 240px;
  position: absolute;
  bottom: 150px;
}
#nickname2 {
  right: 240px;
  position: absolute;
  bottom: 150px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

