@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
